
<div class="navbar">
    <nav>
        <ul>
            <li><a href="/home/index">Hem</a></li>
            <li><a href="/home/login">Konto</a></li>
            <li><a href="#">Om oss</a></li>
            <li><a href="/home/freelancer">Frilansare</a></li>
            <li><a href="/home/customer">Kund</a></li>
        </ul>
    </nav>
    <img src="~/images/menu.png" class="menu-icon">
</div>


    <form action="/SearchCV" method="post">
        <title>My Table</title>
        <table id="my-table">
            <thead>
                <tr>
                    <th>Förnamn</th>
                    <th>Efternamn</th>
                    <th>Utbildning</th>
                    <th>Självbeskrivning</th>
                </tr>
                <tr>
                    <th><input type="text" class="search-input" id="1" name="firstName" placeholder="Förnamn"></th>
                    <th><input type="text" class="search-input" id="2" name="surName" placeholder="Efternamn">  </th>
                    <th><input type="text" class="search-input" id="3" name="education" placeholder="Utbildning"></th>
                    <th><input type="text" class="search-input" id="4" name="selfDescription" placeholder="Självbeskrivning"></th>
                </tr> 
            </thead>
            <tbody>
                <!-- Table rows will be added dynamically with JavaScript -->
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>Bachelor's in Computer Science</td>
                    <td>I'm a passionate programmer with experience in web development.</td>

                    </tr>
                    <tr>
                        <td>Jon</td>
                        <td>Dower</td>
                        <td>Bachelor's in Design</td>
                        <td>I'm  passionate in the arts and making the best designs</td>
                    </tr>
      
            </tbody>
        </table>
        <input type="submit" value="submit">
    </form>

<!--<table id="my-table" class="table">
    <thead>
        <tr>
            <th>
                <input type="text" class="search-input" data-column="name" placeholder="Fullt namn">
            </th>
            <th>
                <input type="text" class="search-input" data-column="Kompetens" placeholder="Kompetens">
            </th>
            <th>
                <input type="text" class="search-input" data-column="expertise" placeholder="Expertis">
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Reamonn</td>
            <td>Backend devloper</td>
            <td>C#</td>
        </tr>
        <tr>
            <td>John</td>
            <td>Web Developer</td>
            <td>HTML</td>
        </tr>-->
<!-- more rows -->
<!--</tbody>-->
<!--</tbody>-->
