<div class="navbar">

    <nav>
        <ul>
            <li><a href="/home/index">Hem</a></li>
                <li><a href="/home/login">Konto</a></li>
                <li><a href="#">Om oss</a></li>
                <li><a href="/home/freelancer">Frilansare</a></li>
                <li><a href="/home/customer">Kund</a></li>
        </ul>   
    </nav>
    <img src="~/images/menu.png" class="menu-icon">   
</div>
<table id="my-table" class="table">
    <thead>
        <tr>
            <th>
                <input type="text" class="search-input" data-column="name" placeholder="Fullt namn">
            </th>
            <th>
                <input type="text" class="search-input" data-column="Kompetens" placeholder="Kompetens">
            </th>
            <th>
                <input type="text" class="search-input" data-column="expertise" placeholder="Expertis">
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Reamonn</td>
            <td>Backend devloper</td>
            <td>C#</td>
        </tr>
        <tr>
            <td>John</td>
            <td>Web Developer</td>
            <td>HTML</td>
        </tr>
        <!-- more rows -->
    </tbody>
</table>
