<div class="navbar">
    <nav>
        <ul>
            <li><a href="/home/start">Hem</a></li>
            <li><a href="/home/login">Konto</a></li>
            <li><a href="#">Om oss</a></li>
            <li><a href="/home/freelancer">Frilansare</a></li>
            <li><a href="/home/customer">Kund</a></li>
        </ul>
    </nav>

    <form>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="form-group">
            <input type="submit" value="Login">
        </div>
    </form>

